streamlit
numpy==1.26.4 
torch
torchvision
torchmetrics
timm
pillow
matplotlib
pyyaml
pytorch_lightning
ultralytics
opencv-python-headless==4.9.0.80
streamlit_cropper
shapely
gdown
git+https://github.com/jacobgil/pytorch-grad-cam.git