streamlit
opencv-python-headless==4.9.0.80
torch
torchvision
torchmetrics
timm
Pillow
numpy
matplotlib
pyyaml
pytorch_lightning
ultralytics
streamlit_cropper
shapely
gdown
git+https://github.com/jacobgil/pytorch-grad-cam.git
